header{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.profile-content{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.profile-content li{

    text-align: start;

}

.profile-footer{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}